# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# OS junk
.DS_Store
Thumbs.db

# IDE / editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

# Coverage / testing
coverage/
.nyc_output/

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

#package-lock.json
# yarn.lock
# pnpm-lock.yaml
dist-tool/